{% from "exercises/_star_rating_macro.html" import star_rating %}

{{ star_rating(exercise.id, user_rating, self_url, banned=user_banned) }}

{% if similar_exercises %}
  <h2>Ejercicios similares</h2>
  <ul class="exercise-row-list">
    {% for similar in similar_exercises %}
      <li>
        <a href="/exercises/{{ similar.id }}/log{% if next %}?{{ {'next': next} | urlencode }}{% endif %}" class="exercise-row">
          <img src="{{ similar.gif_url }}" alt="{{ similar.name }}" />
          <span>{{ similar.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
