{% extends "base.html" %}

{% block content %}
  <h1>Ejercicios</h1>

  <form action="/exercises/search" method="get" class="exercise-search-form">
    <input type="text" name="q" class="exercise-search-input" placeholder="Buscar ejercicios" autocomplete="off" />
  </form>

  <ul class="muscle-banner-grid">
    {% for muscle in muscles %}
      <li>
        <a href="/exercises/muscle/{{ muscle | urlencode }}" class="muscle-banner">
          <span class="muscle-banner-name">{{ muscle }}</span>
          <span class="muscle-banner-count">{{ counts[muscle] }} ejercicios</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
